* {
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
}

.subrayado {
  text-decoration: none;
}

.cabesa {
  width: 100%;
  height: 90px;
  background-color: #254D3C;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;

}

* {
  padding: 0;
  margin: 0;
}


h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
}

.subrayado {
  text-decoration: none;
}

.cabesa {
  width: 100%;
  height: 90px;
  background-color: #254D3C;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 2;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav a {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 16px;
  transition: all ease 0.3s;
}

.nav a:hover {
  color: #B34632;
}

hr {
  text-align: left;
  margin-left: 0;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


hr {
  text-align: left;
  margin-left: 0;
  background-color: black;
}

.divcuerpo {
  text-align: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  background-color: #ededed;
  max-height: 1500;
  justify-content: center;
  align-items: center;
}

.presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.articulo1 {
  width: 350px;
  background-color: #ffff;
  border: 1px solid #ececec;
  margin: 20px;
}

.img1 {
  width: 100%;
  height: auto;
}

.img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.texto1 {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.texto1 span {
  color: #663127;
  font-size: 0.9rem;
}

.texto1 .tituloart {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

.texto1 .tituloart:hover {
  color: #B34632;
  transition: all ease 0.3s;

}

.pie {
  width: 100%;
  height: 90px;
  background-color: #254D3C;
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.pie p {
  color: white;
  text-shadow: 1px 1px black;
  margin: 4.2rem;
}


.home {
  display: flex;
  flex-wrap: wrap;
}

.in-flex {
  flex: 2;
  min-width: 250px;
  padding: 25px;
  justify-content: center;
  height: 630px;
  overflow: hidden;
}

.in-flex:first-child {
  flex: 2;
  padding: 25px;
  background-color: #9DB0B3;
  margin: auto;
}



.in-flex div {
  padding: 25px;
  margin: 20px;

}

.cambiador {
  width: 250px;
  height: 200px;
  background: steelblue;
  padding: 10px;
  overflow: auto;
}

.container1 {
  background: #9DB0B3;
}

.container2 {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.pantalla {
  background: #c0c0c0;
  width: 240px;
  height: 340px;
  margin: 20px;
  flex: 1;
  max-width: 100%;
  padding: 10px;
  transition-property: width, height;
  transition-duration: 2s;

}

.carcasa:hover .pantalla {
  width: 340px;
  height: 160px;
}

.carcasa {
  background: #232323;
  width: 200px;
  height: 380px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: width, height;
  transition-duration: 2s;

}

.carcasa:hover {
  width: 380px;
  height: 200px;
}


.objeto {
  background: red;
  width: 40px;
  height: 50px;
  transition-property: background-color, width, height;
  transition-duration: 2s;

}

.carcasa:hover .objeto {
  background: purple;
  width: 250px;
  height: 50px;

}




#textor:before {
  content: "Estas usando una pantalla con un width de más de 922px!!! Por lo que este div sera de color azul.";
}

@media (max-width: 992px) {
  .cambiador {
    background: red;
    width: 190px;
    height: 90px;
  }

  #textor:before {
    content: "Estas usando una pantalla con un width de más de 688 px!!! Por lo que este div sera de color rojo."
  }
}

@media (max-width: 688px) {
  .cambiador {
    background: brown;
    width: 250px;
    height: 90px;
  }

  #textor:before {
    content: "Tu pantalla no tiene un width que pase de los 688 px. Por lo que este div sera de color bordó."
  }
}

@media (max-width: 1061px) {
  .pantalla {
    background: #c0c0c0;
    width: 60px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 100%;
    padding: 10px;
    transition-property: width, height;
    transition-duration: 2s;

  }

  .carcasa:hover .pantalla {
    width: 95px;
    height: 30px;
  }

  .carcasa {
    background: #232323;
    width: 80px;
    height: 120px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: width, height;
    transition-duration: 2s;

  }

  .carcasa:hover {
    width: 120px;
    height: 50px;
  }


  .objeto {
    background: red;
    width: 10px;
    height: 20px;
    margin: 20px;
    transition-property: background-color, width, height;
    transition-duration: 2s;

  }

  .carcasa:hover .objeto {
    background: purple;
    width: 110px;
    height: 0.1px;
  }

  .in-flex {
    min-width: 250px;
    height: 470px;

  }
}